<%- include('./partials/home__head') %>
<body>
    <section class="header">
        <div class="row">
            <div class="col-1-of-1 header__hero" style="background-image:linear-gradient(to left bottom, hsl(273, 75%, 66%), hsla(240, 73%, 65%,.7)),url('/uploads/<%=userSpecific.imageUpload%>'); background-size: cover; z-index: 900; background-position: center;">
                <div class="header__logo">
                    <img src="/images/ROBA LOGO.png" class="header__logo--image" alt="Logo.png"/>
                </div>

                    <h1 class="heading-1--user">CDB TRANSPORT</h1>
                    <button class="header__button u-margin-top" data-modal-target="#blog__modal">NEW POST</button>
                    <a class="btn-link header__button" href="/routes/<%=userSpecific._id%>/blog">BLOGS</a>
                <div class="header__nav-list d-flex">
                    <span class="welcome__text">Welcome, <%=userSpecific.name%></span>
                    <a class="logout-btn" id="logout-btn" href="/routes/logout">Logout</a>
                </div>
                <div class="header__hero-img">
                </div>
            </div>
        </div>
    </section>
    <div class="blog__overlay" id="overlay">
        <div class="blog__post" id="blog__modal">
            <form class="form__blog" method="POST" action="/routes/<%=userSpecific._id%>/blog" id="blog-post__form">
                <div class="formError"></div>

                <div class="form-group w-full bg-white border-2 border-gray-200 h-4 m-auto flex items-center justify-between py-10 px-4 rounded-lg">
                    <small class="text-xl font-bold">Error Message</small>
                    <span class="iconify icon-success" data-width="24" data-height="24" data-icon="si-glyph:checked"></span>
                    <span class="iconify icon-error" data-width="24" data-height="24" data-icon="carbon:warning-filled"></span>
                </div>

                <h2 class="u-center u-title u-margin-big">NEW POST</h2>
                <label type="label" for="post-title" class="form-control__label">TITLE:</label>
                <input type="text" name="title" required=true id="post-title" class="form-control form-inputs text-2xl" autocomplete="on" placeholder="Post Title"/>
                <label type="label" for="post-content" class="form-control__label">CONTENT:</label>
                <textarea name="description" required=true id="post-content" class="form-control form-inputs text-2xl" placeholder="Type your content here"></textarea>

                <div>
                    <button type="submit" class="btn__blog u-margin-top">POST</button>
                </div>
            </form>
        </div>
    </div>
    <section>
        <% saccoRoutes.forEach(route=>{ %>
        <div class="route-info">
        <div class="route-info__card">
            <div class="route-info__card--image" style="background-image:linear-gradient(to left bottom, hsla(273, 75%, 66%, .6), hsla(240, 73%, 65%, .6)),url('/uploads/<%=userSpecific.imageUpload%>'); background-size: cover; z-index: 900; background-position: center;">
                <div class="route-info__card--image-buttons">
                    <a href="" class="route-info__card--image-buttons--1">Edit</a>
                    <form>
                        <button type="submit" class="route-info__card--image-buttons--2" id="delete__form">Delete</button>
                    </form>
                </div>
            </div>
            <div class="route-info__card--content">
                <div class="content--content">
                <div class="content">
                    <h1 class="route-info__card--content-heading"><%=userSpecific.name%></h1>
                    <h1 class="route-info__card--content-heading-subheading">Route Number</h1>
                </div>
                    <p class="route-info__card--content-subheading"><%=route.routeNumber%></p>
                </div>
            </div>
            <div class="route-info__card--content-footer">
                <h3 class="route-info__card--content-footer--heading">ACTIVE HOURS:</h3>
                <p class="route-info__card--content-footer--subheading"><%=route.start%> - <%=route.end%></p>     
            </div>
        
            <div>
            </div>
        </div>
        <% }) %>
    </section>
    <%- include('./partials/footer') %>

    <script>
        const modalTrigger=document.querySelector('[data-modal-target]');
        const overlayDiv=document.getElementById('overlay');
        const modalClose=document.querySelector('[data-modal-close]'); 

        const openModal=(modal)=>{
            if(modal===null) return;
            modal.classList.add('active');
            overlayDiv.classList.add('active');
        }

        //open modal
        modalTrigger.addEventListener('click',()=>{
            let modalSelf=document.querySelector(modalTrigger.dataset.modalTarget);
            openModal(modalSelf);
        })

        const closeModal=(modal)=>{
            if(modal===null) return;
            modal.classList.remove('active');
            overlayDiv.classList.remove('active');
        }

        //close modal
        // modalClose.addEventListener('click',()=>{
        //     let modalSelf=modalClose.closest('.blog__overlay');
        //     closeModal(modalSelf);
        // })

        //const modalClose=document.querySelector('[data-modal-close]');
        //uncomment once close/form submit button is created
    </script>
</body>